
# 2) Do not ignore the .gitignore file itself

# 3) Always ignore .idea
.idea/
.idea/**

# 4) Always ignore vasptools.egg-info
vasptools.egg-info/
vasptools.egg-info/**


test*
# Ignore API keys and sensitive files

*.API*
*.zip
potpaw_PBE_6.4_from_vsc5

*.poscar

*POSCAR*

*POTCAR*
*INCAR*
*KPOINTS*
*CONTCAR*
*WAVECAR*
*CHGCAR*
*OSZICAR*          
*.cif*